@import url(https://fonts.googleapis.com/css?family=Roboto:300);

:root {
    --max-width: 360px;
    --tex-dark-color: #929292
}

body {
    margin: 0;
    background: #76b852; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {

}

* {
    box-sizing: border-box;
}

.login-page {
    height: 100vh;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.form {
    background: #FFFFFF;
    width: var(--max-width);
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    position: relative;
    left: calc(50% - var(--max-width) / 2);
}

input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.button {
    display: block;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.button:disabled {
    color: rgb(246, 246, 246);
    background-color: rgba(19, 1, 1, 0.3);
    border-color: rgba(118, 118, 118, 0.3);
    cursor: not-allowed;
}

.button:hover:not([disabled]), .button:active, .button:focus {
    background: #43A047;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.canvas {
    z-index: 1;
    background-color: #FFFFFF;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
}

.wrapper-canvas {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c8c8c8;
    margin-right: 100px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    position: relative;
}

.wrapper-canvas_enter {
    background-color: #8fdd8f;
}

.canvas__text {
    position: absolute;
    top: 0;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
}

.panel {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    padding: 14px 30px;
}

.home__panel {
    width: 70vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.status {
    color: var(--tex-dark-color);
    font-size: 24px;
    margin: 0;
}

.form-home {
    margin-top: 20px;
}